<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hotel Booking Analysis - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-maroon sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-hotel"></i>
                </div>
                <div class="sidebar-brand-text mx-1" style="font-size: small; text-align: left; padding-left: 10px;">Hotel Booking Analysis</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/analysis">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Analysis</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow bg-gradient-black">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-maroon-800"><b>Hotel Booking General Information</b></h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Hotels Card  -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary-algo shadow h-100 py-2">
                                <div class="card-body">

                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary-algo text-uppercase mb-1">
                                              Number of City Hotels</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{hotel_count}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-hotel fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Resorts Count Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary-algo shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary-algo text-uppercase mb-1">
                                                Number of Resort Hotel</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{resort_count}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="far fa-building fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Visitor Hotels Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary-algo shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary-algo text-uppercase mb-1">Number of City Hotel Visitor
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{visitor_count['hotel_visitor']}}</div>
                                                </div>
                                        
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Resorts Visitor Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary-algo shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary-algo text-uppercase mb-1">
                                                Number of Resort Hotel Visitor</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{visitor_count['resort_visitor']}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary-algo">Home Country of Guests</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart" id="bargraph">
                                        <!-- <canvas id="myAreaChart"></canvas> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">
                            
                           <!-- Text_1 -->
                           <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary-algo">About the Data</h6>
                            </div>
                            <div class="card-body text-black-50">
                                <p class="mb-0 text-black-50" style="text-align:justify">The hotel booking demand dataset is originally from the article 
                                    <a target="_blank" rel="nofollow" href="https://www.sciencedirect.com/science/article/pii/S2352340918315191">Hotel Booking Demand Datasets</a>, 
                                    written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief,
                                    Volume 22, February 2019. The data was downloaded and cleaned by Thomas Mock and Antoine Bichat for 
                                    <a target="_blank" rel="nofollow" href="https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-02-11/readme.md">#TidyTuesday during the week of February 11th, 2020.</a></p><br>
                                <p class="mb-0 text-black-50" style="text-align:justify">This data set contains booking information for a city hotel and a resort hotel, includes information such as when the booking was made, length of stay,
                                     the number of adults, children, and/or babies, and the number of available parking spaces, among other things. 
                                     All personally identifying information has been removed from the data.</p>
                            </div>
                        </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Text_2 -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary-algo">Context Analysis</h6>
                                </div>
                                <div class="card-body text-black-50">
                                    <p style="text-align:justify"> 
                                            This hotel booking demand dataset is ideal for anyone looking to practice their exploratory data analysis (EDA), 
                                            cause you can be employed descriptive analytics to further understand patterns, trends, and anomalies in the data such as:<br>
                                            1. Knowing the distribution of the guest's origin country<br>
                                            2. Finding out when is the best time of year to book a hotel room (to get the best daily rate),<br>
                                            3. Estimating when booking times have many cancellations (so the losses arising from the cancellation can be overcome).<br>
                                            You can start by completing this dashboard which is intended for the needs of travel agents and hotels management.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Hotel Booking Analysis 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    
    <script>
        var graphs = {{country_of_guests_plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>

    <script>
        var graphs2 = {{busy_month_plot | safe}};
        Plotly.plot('busy_month_graph',graphs2,{});
    </script>

</body>

</html>